$body-color: black;

#sectionWithBackground1 {
  text-align: center;
  color: white;
  background-color: #14080E;
  font: arial;
  height: 60px;
  width: auto;
  padding: 20px;
}

#sectionWithBackground2 {
  text-align: center;
  color: white;
  background-color: #14080E;
  font: arial;
  height: 40px;
  width: auto;
  padding: 10px;
}

a{
  color: white;
}

.beigeA{
  color:#E9EB9E;
  font-size: 16px;
}

h1 {
  color: #E9EB9E;
}

h3 {
  color: #799496;
}

.font-size{
  font-size: 20px;
}

.beige{
  color:#E9EB9E;
  font-size: 20px;
}

table {
  border-collapse: collapse;
}

table,
tr,
th,
td{
  border: 1px solid black;
}

thead {
  color: #000000;
  background-color: #E9EB9E ;
}
main{
  float: left;
  width: 75%;
  margin: 20px;
  border-right-style: dotted;
  border-right-color: #799496;
}

aside {
  float: right;
  width: 20%;
  margin: 10px;
}

footer{
  clear: both;
}