$body-color: slateblue;

*{
font: 18px arial;
}

body{
  background-image: url("https://www.sunhome.ru/i/wallpapers/125/oboi-dlya-android-v64.xl.jpg");
}


header,
main,
footer {
 border: 3px solid rgb(3, 73, 14);
 padding: 10px;
 margin: 10px;
 border-radius: 20px;
}

main {
  float: left;
  width: 70%;
}

aside {
  float: right;
  width: 23%;
}

footer {
  clear: both;
}

figcaption{
  color: black;
}

#sectionWithBackground{
  background-color: yellow;
  border: 3px solid rgb(3, 73, 14);
 padding: 10px;
 margin: 0px;
 border-radius: 20px
}

mark{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}

h1 {
  font: 30px arial; 
}