.lt-video .container {
  padding: 0;
}

.vph-root {

}

.vph-root--in-progress {
  width: 100%;
  height: 200px;
  background: #78909C;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
  font-size: 16px;
  margin: 0 0 15px 0;
}

.vph-root--error {
  width: 100%;
  height: 200px;
  background: #d2322d;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
}

.vph-debug {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  background: #fff6;
  width: 100%;
  text-align: center;
  display: none;
}

.vph-debug--show {
  display: block;
}

.vph-player {
  display: none;
}

.vph-root--done {

}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
}

.vhe-root {
  width: 100%;
  height: 50px;
  background: #fff5f7;
  align-items: center;
  justify-content: center;
  display: flex;
}

.vhe-cdn-change {
  width: 100%;
  height: auto;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #f0f0f0;
  align-items: center;
  justify-content: center;
}

.reason-btn {
  margin: 5px;
  padding: 3px !important;
  display: block !important;
}

.result-btn {
  margin: 5px;
  padding: 3px !important;
  display: block !important;
}

.feedback#close {
  vertical-align: middle;
  float: right;
  padding: 0.6%;
  -webkit-text-stroke: 1px #f0f0f0;
}